*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #121212;
}

.rain-drop {
  position: absolute;
  background: snow;
  border-radius: 50%;
}

.rain-drop:nth-child(1) {
  top: 50vh;
  left: 21vw;
  height: 1px;
  width: 1px;
  opacity: 0.2038110101;
}

.rain-drop:nth-child(2) {
  top: 39vh;
  left: 41vw;
  height: 3px;
  width: 3px;
  opacity: 0.1648608912;
}

.rain-drop:nth-child(3) {
  top: 13vh;
  left: 10vw;
  height: 1px;
  width: 1px;
  opacity: 0.1876056857;
}

.rain-drop:nth-child(4) {
  top: 51vh;
  left: 33vw;
  height: 3px;
  width: 3px;
  opacity: 0.1025888595;
}

.rain-drop:nth-child(5) {
  top: 97vh;
  left: 94vw;
  height: 3px;
  width: 3px;
  opacity: 0.6141914384;
}

.rain-drop:nth-child(6) {
  top: 36vh;
  left: 41vw;
  height: 1px;
  width: 1px;
  opacity: 0.3501898284;
}

.rain-drop:nth-child(7) {
  top: 41vh;
  left: 44vw;
  height: 3px;
  width: 3px;
  opacity: 0.1831962702;
}

.rain-drop:nth-child(8) {
  top: 72vh;
  left: 97vw;
  height: 2px;
  width: 2px;
  opacity: 0.4847960552;
}

.rain-drop:nth-child(9) {
  top: 82vh;
  left: 87vw;
  height: 1px;
  width: 1px;
  opacity: 0.4925465996;
}

.rain-drop:nth-child(10) {
  top: 67vh;
  left: 46vw;
  height: 3px;
  width: 3px;
  opacity: 0.7422296511;
}

.rain-drop:nth-child(11) {
  top: 64vh;
  left: 94vw;
  height: 3px;
  width: 3px;
  opacity: 0.8146431726;
}

.rain-drop:nth-child(12) {
  top: 10vh;
  left: 40vw;
  height: 1px;
  width: 1px;
  opacity: 0.8741176182;
}

.rain-drop:nth-child(13) {
  top: 97vh;
  left: 23vw;
  height: 1px;
  width: 1px;
  opacity: 0.7867640144;
}

.rain-drop:nth-child(14) {
  top: 36vh;
  left: 63vw;
  height: 2px;
  width: 2px;
  opacity: 0.5782680408;
}

.rain-drop:nth-child(15) {
  top: 41vh;
  left: 92vw;
  height: 3px;
  width: 3px;
  opacity: 0.2090902078;
}

.rain-drop:nth-child(16) {
  top: 58vh;
  left: 51vw;
  height: 3px;
  width: 3px;
  opacity: 0.3944939772;
}

.rain-drop:nth-child(17) {
  top: 65vh;
  left: 33vw;
  height: 2px;
  width: 2px;
  opacity: 0.7659727799;
}

.rain-drop:nth-child(18) {
  top: 83vh;
  left: 63vw;
  height: 2px;
  width: 2px;
  opacity: 0.87512618;
}

.rain-drop:nth-child(19) {
  top: 52vh;
  left: 41vw;
  height: 3px;
  width: 3px;
  opacity: 0.7891099627;
}

.rain-drop:nth-child(20) {
  top: 24vh;
  left: 46vw;
  height: 3px;
  width: 3px;
  opacity: 0.0813543518;
}

.rain-drop:nth-child(21) {
  top: 76vh;
  left: 95vw;
  height: 3px;
  width: 3px;
  opacity: 0.3067185703;
}

.rain-drop:nth-child(22) {
  top: 92vh;
  left: 69vw;
  height: 3px;
  width: 3px;
  opacity: 0.9610400106;
}

.rain-drop:nth-child(23) {
  top: 40vh;
  left: 96vw;
  height: 2px;
  width: 2px;
  opacity: 0.9017454118;
}

.rain-drop:nth-child(24) {
  top: 13vh;
  left: 94vw;
  height: 2px;
  width: 2px;
  opacity: 0.0648013859;
}

.rain-drop:nth-child(25) {
  top: 72vh;
  left: 44vw;
  height: 2px;
  width: 2px;
  opacity: 0.875800228;
}

.rain-drop:nth-child(26) {
  top: 6vh;
  left: 88vw;
  height: 3px;
  width: 3px;
  opacity: 0.4481851824;
}

.rain-drop:nth-child(27) {
  top: 35vh;
  left: 50vw;
  height: 2px;
  width: 2px;
  opacity: 0.6321888295;
}

.rain-drop:nth-child(28) {
  top: 84vh;
  left: 41vw;
  height: 3px;
  width: 3px;
  opacity: 0.8680145155;
}

.rain-drop:nth-child(29) {
  top: 42vh;
  left: 54vw;
  height: 3px;
  width: 3px;
  opacity: 0.0703141461;
}

.rain-drop:nth-child(30) {
  top: 10vh;
  left: 61vw;
  height: 2px;
  width: 2px;
  opacity: 0.3102144798;
}

.rain-drop:nth-child(31) {
  top: 86vh;
  left: 70vw;
  height: 1px;
  width: 1px;
  opacity: 0.5194634955;
}

.rain-drop:nth-child(32) {
  top: 26vh;
  left: 35vw;
  height: 3px;
  width: 3px;
  opacity: 0.4785436388;
}

.rain-drop:nth-child(33) {
  top: 24vh;
  left: 84vw;
  height: 1px;
  width: 1px;
  opacity: 0.4226138886;
}

.rain-drop:nth-child(34) {
  top: 37vh;
  left: 67vw;
  height: 1px;
  width: 1px;
  opacity: 0.8160751888;
}

.rain-drop:nth-child(35) {
  top: 24vh;
  left: 91vw;
  height: 3px;
  width: 3px;
  opacity: 0.7245827777;
}

.rain-drop:nth-child(36) {
  top: 39vh;
  left: 99vw;
  height: 2px;
  width: 2px;
  opacity: 0.0635488254;
}

.rain-drop:nth-child(37) {
  top: 93vh;
  left: 14vw;
  height: 3px;
  width: 3px;
  opacity: 0.6092331774;
}

.rain-drop:nth-child(38) {
  top: 62vh;
  left: 42vw;
  height: 2px;
  width: 2px;
  opacity: 0.0913188554;
}

.rain-drop:nth-child(39) {
  top: 80vh;
  left: 28vw;
  height: 1px;
  width: 1px;
  opacity: 0.9591620127;
}

.rain-drop:nth-child(40) {
  top: 21vh;
  left: 24vw;
  height: 2px;
  width: 2px;
  opacity: 0.373121467;
}

.rain-drop:nth-child(41) {
  top: 10vh;
  left: 53vw;
  height: 2px;
  width: 2px;
  opacity: 0.3391080618;
}

.rain-drop:nth-child(42) {
  top: 77vh;
  left: 39vw;
  height: 2px;
  width: 2px;
  opacity: 0.443207937;
}

.rain-drop:nth-child(43) {
  top: 14vh;
  left: 20vw;
  height: 1px;
  width: 1px;
  opacity: 0.5372059097;
}

.rain-drop:nth-child(44) {
  top: 46vh;
  left: 84vw;
  height: 1px;
  width: 1px;
  opacity: 0.8385207973;
}

.rain-drop:nth-child(45) {
  top: 40vh;
  left: 34vw;
  height: 3px;
  width: 3px;
  opacity: 0.3776346933;
}

.rain-drop:nth-child(46) {
  top: 25vh;
  left: 35vw;
  height: 2px;
  width: 2px;
  opacity: 0.7924600388;
}

.rain-drop:nth-child(47) {
  top: 22vh;
  left: 44vw;
  height: 2px;
  width: 2px;
  opacity: 0.8580048824;
}

.rain-drop:nth-child(48) {
  top: 4vh;
  left: 28vw;
  height: 1px;
  width: 1px;
  opacity: 0.3788803918;
}

.rain-drop:nth-child(49) {
  top: 3vh;
  left: 77vw;
  height: 1px;
  width: 1px;
  opacity: 0.8958360872;
}

.rain-drop:nth-child(50) {
  top: 86vh;
  left: 73vw;
  height: 2px;
  width: 2px;
  opacity: 0.1865109695;
}

.rain-drop:nth-child(51) {
  top: 19vh;
  left: 90vw;
  height: 2px;
  width: 2px;
  opacity: 0.4562172863;
}

.rain-drop:nth-child(52) {
  top: 30vh;
  left: 39vw;
  height: 3px;
  width: 3px;
  opacity: 0.0006780665;
}

.rain-drop:nth-child(53) {
  top: 29vh;
  left: 54vw;
  height: 1px;
  width: 1px;
  opacity: 0.9471452189;
}

.rain-drop:nth-child(54) {
  top: 80vh;
  left: 75vw;
  height: 3px;
  width: 3px;
  opacity: 0.7662345315;
}

.rain-drop:nth-child(55) {
  top: 32vh;
  left: 86vw;
  height: 2px;
  width: 2px;
  opacity: 0.5723118051;
}

.rain-drop:nth-child(56) {
  top: 50vh;
  left: 12vw;
  height: 2px;
  width: 2px;
  opacity: 0.8642602512;
}

.rain-drop:nth-child(57) {
  top: 71vh;
  left: 95vw;
  height: 3px;
  width: 3px;
  opacity: 0.9350058242;
}

.rain-drop:nth-child(58) {
  top: 39vh;
  left: 9vw;
  height: 2px;
  width: 2px;
  opacity: 0.4090307083;
}

.rain-drop:nth-child(59) {
  top: 88vh;
  left: 27vw;
  height: 3px;
  width: 3px;
  opacity: 0.8857480052;
}

.rain-drop:nth-child(60) {
  top: 84vh;
  left: 88vw;
  height: 3px;
  width: 3px;
  opacity: 0.1721655933;
}

.rain-drop:nth-child(61) {
  top: 64vh;
  left: 78vw;
  height: 2px;
  width: 2px;
  opacity: 0.509612209;
}

.rain-drop:nth-child(62) {
  top: 18vh;
  left: 63vw;
  height: 3px;
  width: 3px;
  opacity: 0.1772702968;
}

.rain-drop:nth-child(63) {
  top: 44vh;
  left: 14vw;
  height: 3px;
  width: 3px;
  opacity: 0.2384687712;
}

.rain-drop:nth-child(64) {
  top: 61vh;
  left: 9vw;
  height: 1px;
  width: 1px;
  opacity: 0.6270561063;
}

.rain-drop:nth-child(65) {
  top: 13vh;
  left: 91vw;
  height: 2px;
  width: 2px;
  opacity: 0.7750002317;
}

.rain-drop:nth-child(66) {
  top: 64vh;
  left: 18vw;
  height: 1px;
  width: 1px;
  opacity: 0.8543875339;
}

.rain-drop:nth-child(67) {
  top: 56vh;
  left: 4vw;
  height: 1px;
  width: 1px;
  opacity: 0.8226989736;
}

.rain-drop:nth-child(68) {
  top: 73vh;
  left: 96vw;
  height: 2px;
  width: 2px;
  opacity: 0.8421412074;
}

.rain-drop:nth-child(69) {
  top: 87vh;
  left: 54vw;
  height: 3px;
  width: 3px;
  opacity: 0.8394390118;
}

.rain-drop:nth-child(70) {
  top: 78vh;
  left: 37vw;
  height: 1px;
  width: 1px;
  opacity: 0.1858879323;
}

.rain-drop:nth-child(71) {
  top: 49vh;
  left: 65vw;
  height: 3px;
  width: 3px;
  opacity: 0.4527858118;
}

.rain-drop:nth-child(72) {
  top: 42vh;
  left: 76vw;
  height: 3px;
  width: 3px;
  opacity: 0.8650788235;
}

.rain-drop:nth-child(73) {
  top: 27vh;
  left: 20vw;
  height: 2px;
  width: 2px;
  opacity: 0.2875217379;
}

.rain-drop:nth-child(74) {
  top: 91vh;
  left: 50vw;
  height: 3px;
  width: 3px;
  opacity: 0.4340640101;
}

.rain-drop:nth-child(75) {
  top: 36vh;
  left: 6vw;
  height: 2px;
  width: 2px;
  opacity: 0.0836079475;
}

.rain-drop:nth-child(76) {
  top: 88vh;
  left: 94vw;
  height: 3px;
  width: 3px;
  opacity: 0.2565011175;
}

.rain-drop:nth-child(77) {
  top: 63vh;
  left: 44vw;
  height: 2px;
  width: 2px;
  opacity: 0.9271971542;
}

.rain-drop:nth-child(78) {
  top: 41vh;
  left: 86vw;
  height: 1px;
  width: 1px;
  opacity: 0.2671109655;
}

.rain-drop:nth-child(79) {
  top: 75vh;
  left: 21vw;
  height: 1px;
  width: 1px;
  opacity: 0.1634723611;
}

.rain-drop:nth-child(80) {
  top: 44vh;
  left: 48vw;
  height: 3px;
  width: 3px;
  opacity: 0.8388742908;
}

.rain-drop:nth-child(81) {
  top: 28vh;
  left: 31vw;
  height: 1px;
  width: 1px;
  opacity: 0.4389666825;
}

.rain-drop:nth-child(82) {
  top: 82vh;
  left: 2vw;
  height: 3px;
  width: 3px;
  opacity: 0.8960036753;
}

.rain-drop:nth-child(83) {
  top: 15vh;
  left: 39vw;
  height: 2px;
  width: 2px;
  opacity: 0.7287878471;
}

.rain-drop:nth-child(84) {
  top: 83vh;
  left: 58vw;
  height: 2px;
  width: 2px;
  opacity: 0.6942138959;
}

.rain-drop:nth-child(85) {
  top: 20vh;
  left: 4vw;
  height: 3px;
  width: 3px;
  opacity: 0.1090374169;
}

.rain-drop:nth-child(86) {
  top: 51vh;
  left: 8vw;
  height: 3px;
  width: 3px;
  opacity: 0.3569277465;
}

.rain-drop:nth-child(87) {
  top: 16vh;
  left: 97vw;
  height: 1px;
  width: 1px;
  opacity: 0.1769721753;
}

.rain-drop:nth-child(88) {
  top: 74vh;
  left: 47vw;
  height: 2px;
  width: 2px;
  opacity: 0.1114739807;
}

.rain-drop:nth-child(89) {
  top: 50vh;
  left: 46vw;
  height: 2px;
  width: 2px;
  opacity: 0.3783955257;
}

.rain-drop:nth-child(90) {
  top: 60vh;
  left: 57vw;
  height: 2px;
  width: 2px;
  opacity: 0.5378086992;
}

.rain-drop:nth-child(91) {
  top: 95vh;
  left: 44vw;
  height: 1px;
  width: 1px;
  opacity: 0.1976988918;
}

.rain-drop:nth-child(92) {
  top: 77vh;
  left: 74vw;
  height: 3px;
  width: 3px;
  opacity: 0.8572177653;
}

.rain-drop:nth-child(93) {
  top: 75vh;
  left: 60vw;
  height: 2px;
  width: 2px;
  opacity: 0.9520636168;
}

.rain-drop:nth-child(94) {
  top: 27vh;
  left: 4vw;
  height: 2px;
  width: 2px;
  opacity: 0.9312520269;
}

.rain-drop:nth-child(95) {
  top: 60vh;
  left: 91vw;
  height: 2px;
  width: 2px;
  opacity: 0.5945422461;
}

.rain-drop:nth-child(96) {
  top: 59vh;
  left: 80vw;
  height: 1px;
  width: 1px;
  opacity: 0.83426091;
}

.rain-drop:nth-child(97) {
  top: 41vh;
  left: 88vw;
  height: 3px;
  width: 3px;
  opacity: 0.371442289;
}

.rain-drop:nth-child(98) {
  top: 11vh;
  left: 1vw;
  height: 3px;
  width: 3px;
  opacity: 0.0368498483;
}

.rain-drop:nth-child(99) {
  top: 34vh;
  left: 34vw;
  height: 1px;
  width: 1px;
  opacity: 0.8469756106;
}

.rain-drop:nth-child(100) {
  top: 27vh;
  left: 70vw;
  height: 2px;
  width: 2px;
  opacity: 0.1720139103;
}

.rain-drop:nth-child(101) {
  top: 13vh;
  left: 70vw;
  height: 2px;
  width: 2px;
  opacity: 0.1155175832;
}

.rain-drop:nth-child(102) {
  top: 81vh;
  left: 29vw;
  height: 2px;
  width: 2px;
  opacity: 0.23870686;
}

.rain-drop:nth-child(103) {
  top: 68vh;
  left: 73vw;
  height: 1px;
  width: 1px;
  opacity: 0.4643323021;
}

.rain-drop:nth-child(104) {
  top: 4vh;
  left: 57vw;
  height: 1px;
  width: 1px;
  opacity: 0.63720055;
}

.rain-drop:nth-child(105) {
  top: 62vh;
  left: 2vw;
  height: 1px;
  width: 1px;
  opacity: 0.6006145331;
}

.rain-drop:nth-child(106) {
  top: 50vh;
  left: 83vw;
  height: 1px;
  width: 1px;
  opacity: 0.4236389873;
}

.rain-drop:nth-child(107) {
  top: 69vh;
  left: 23vw;
  height: 2px;
  width: 2px;
  opacity: 0.214759107;
}

.rain-drop:nth-child(108) {
  top: 16vh;
  left: 6vw;
  height: 1px;
  width: 1px;
  opacity: 0.1858657403;
}

.rain-drop:nth-child(109) {
  top: 95vh;
  left: 100vw;
  height: 2px;
  width: 2px;
  opacity: 0.645629737;
}

.rain-drop:nth-child(110) {
  top: 49vh;
  left: 27vw;
  height: 3px;
  width: 3px;
  opacity: 0.3806311233;
}

.rain-drop:nth-child(111) {
  top: 86vh;
  left: 37vw;
  height: 2px;
  width: 2px;
  opacity: 0.7109851365;
}

.rain-drop:nth-child(112) {
  top: 39vh;
  left: 47vw;
  height: 3px;
  width: 3px;
  opacity: 0.1027455262;
}

.rain-drop:nth-child(113) {
  top: 73vh;
  left: 91vw;
  height: 2px;
  width: 2px;
  opacity: 0.1436317481;
}

.rain-drop:nth-child(114) {
  top: 7vh;
  left: 7vw;
  height: 3px;
  width: 3px;
  opacity: 0.8484167908;
}

.rain-drop:nth-child(115) {
  top: 86vh;
  left: 62vw;
  height: 3px;
  width: 3px;
  opacity: 0.1570835815;
}

.rain-drop:nth-child(116) {
  top: 22vh;
  left: 75vw;
  height: 2px;
  width: 2px;
  opacity: 0.3226094487;
}

.rain-drop:nth-child(117) {
  top: 37vh;
  left: 76vw;
  height: 3px;
  width: 3px;
  opacity: 0.0310841547;
}

.rain-drop:nth-child(118) {
  top: 34vh;
  left: 34vw;
  height: 2px;
  width: 2px;
  opacity: 0.5559053464;
}

.rain-drop:nth-child(119) {
  top: 44vh;
  left: 7vw;
  height: 3px;
  width: 3px;
  opacity: 0.5269486191;
}

.rain-drop:nth-child(120) {
  top: 49vh;
  left: 100vw;
  height: 3px;
  width: 3px;
  opacity: 0.3237096834;
}

.rain-drop:nth-child(121) {
  top: 100vh;
  left: 7vw;
  height: 2px;
  width: 2px;
  opacity: 0.653778002;
}

.rain-drop:nth-child(122) {
  top: 82vh;
  left: 67vw;
  height: 3px;
  width: 3px;
  opacity: 0.2988619754;
}

.rain-drop:nth-child(123) {
  top: 80vh;
  left: 28vw;
  height: 3px;
  width: 3px;
  opacity: 0.5207035254;
}

.rain-drop:nth-child(124) {
  top: 66vh;
  left: 68vw;
  height: 3px;
  width: 3px;
  opacity: 0.6493885228;
}

.rain-drop:nth-child(125) {
  top: 2vh;
  left: 20vw;
  height: 3px;
  width: 3px;
  opacity: 0.8523275562;
}

.rain-drop:nth-child(126) {
  top: 53vh;
  left: 77vw;
  height: 1px;
  width: 1px;
  opacity: 0.5440227073;
}

.rain-drop:nth-child(127) {
  top: 94vh;
  left: 38vw;
  height: 3px;
  width: 3px;
  opacity: 0.2274274745;
}

.rain-drop:nth-child(128) {
  top: 41vh;
  left: 54vw;
  height: 2px;
  width: 2px;
  opacity: 0.4400725691;
}

.rain-drop:nth-child(129) {
  top: 60vh;
  left: 17vw;
  height: 1px;
  width: 1px;
  opacity: 0.3954353216;
}

.rain-drop:nth-child(130) {
  top: 64vh;
  left: 34vw;
  height: 1px;
  width: 1px;
  opacity: 0.974374968;
}

.rain-drop:nth-child(131) {
  top: 95vh;
  left: 54vw;
  height: 2px;
  width: 2px;
  opacity: 0.9378079462;
}

.rain-drop:nth-child(132) {
  top: 20vh;
  left: 72vw;
  height: 3px;
  width: 3px;
  opacity: 0.6870754119;
}

.rain-drop:nth-child(133) {
  top: 64vh;
  left: 82vw;
  height: 2px;
  width: 2px;
  opacity: 0.8106958356;
}

.rain-drop:nth-child(134) {
  top: 25vh;
  left: 92vw;
  height: 3px;
  width: 3px;
  opacity: 0.0312854722;
}

.rain-drop:nth-child(135) {
  top: 75vh;
  left: 52vw;
  height: 1px;
  width: 1px;
  opacity: 0.3031336228;
}

.rain-drop:nth-child(136) {
  top: 58vh;
  left: 5vw;
  height: 2px;
  width: 2px;
  opacity: 0.4865263818;
}

.rain-drop:nth-child(137) {
  top: 34vh;
  left: 33vw;
  height: 2px;
  width: 2px;
  opacity: 0.4256369477;
}

.rain-drop:nth-child(138) {
  top: 45vh;
  left: 87vw;
  height: 3px;
  width: 3px;
  opacity: 0.0277458932;
}

.rain-drop:nth-child(139) {
  top: 61vh;
  left: 7vw;
  height: 3px;
  width: 3px;
  opacity: 0.4535473059;
}

.rain-drop:nth-child(140) {
  top: 47vh;
  left: 28vw;
  height: 3px;
  width: 3px;
  opacity: 0.374822635;
}

.rain-drop:nth-child(141) {
  top: 24vh;
  left: 12vw;
  height: 2px;
  width: 2px;
  opacity: 0.9952090569;
}

.rain-drop:nth-child(142) {
  top: 48vh;
  left: 22vw;
  height: 2px;
  width: 2px;
  opacity: 0.4194928038;
}

.rain-drop:nth-child(143) {
  top: 78vh;
  left: 29vw;
  height: 1px;
  width: 1px;
  opacity: 0.4174753572;
}

.rain-drop:nth-child(144) {
  top: 37vh;
  left: 18vw;
  height: 2px;
  width: 2px;
  opacity: 0.8038542975;
}

.rain-drop:nth-child(145) {
  top: 93vh;
  left: 35vw;
  height: 2px;
  width: 2px;
  opacity: 0.3855498556;
}

.rain-drop:nth-child(146) {
  top: 46vh;
  left: 83vw;
  height: 1px;
  width: 1px;
  opacity: 0.274778263;
}

.rain-drop:nth-child(147) {
  top: 86vh;
  left: 2vw;
  height: 3px;
  width: 3px;
  opacity: 0.3147365247;
}

.rain-drop:nth-child(148) {
  top: 80vh;
  left: 13vw;
  height: 3px;
  width: 3px;
  opacity: 0.2166651302;
}

.rain-drop:nth-child(149) {
  top: 77vh;
  left: 41vw;
  height: 3px;
  width: 3px;
  opacity: 0.6130717933;
}

.rain-drop:nth-child(150) {
  top: 34vh;
  left: 75vw;
  height: 3px;
  width: 3px;
  opacity: 0.8959845941;
}

.rain-drop:nth-child(151) {
  top: 57vh;
  left: 52vw;
  height: 2px;
  width: 2px;
  opacity: 0.5662617654;
}

.rain-drop:nth-child(152) {
  top: 45vh;
  left: 51vw;
  height: 2px;
  width: 2px;
  opacity: 0.9611961194;
}

.rain-drop:nth-child(153) {
  top: 90vh;
  left: 74vw;
  height: 1px;
  width: 1px;
  opacity: 0.5728828622;
}

.rain-drop:nth-child(154) {
  top: 72vh;
  left: 94vw;
  height: 1px;
  width: 1px;
  opacity: 0.7348543959;
}

.rain-drop:nth-child(155) {
  top: 100vh;
  left: 1vw;
  height: 1px;
  width: 1px;
  opacity: 0.3056055731;
}

.rain-drop:nth-child(156) {
  top: 62vh;
  left: 19vw;
  height: 1px;
  width: 1px;
  opacity: 0.8068448788;
}

.rain-drop:nth-child(157) {
  top: 69vh;
  left: 47vw;
  height: 1px;
  width: 1px;
  opacity: 0.7229807816;
}

.rain-drop:nth-child(158) {
  top: 60vh;
  left: 52vw;
  height: 1px;
  width: 1px;
  opacity: 0.2724641285;
}

.rain-drop:nth-child(159) {
  top: 89vh;
  left: 34vw;
  height: 1px;
  width: 1px;
  opacity: 0.9873925883;
}

.rain-drop:nth-child(160) {
  top: 91vh;
  left: 55vw;
  height: 2px;
  width: 2px;
  opacity: 0.30415158;
}

.rain-drop:nth-child(161) {
  top: 24vh;
  left: 96vw;
  height: 1px;
  width: 1px;
  opacity: 0.7176613513;
}

.rain-drop:nth-child(162) {
  top: 97vh;
  left: 72vw;
  height: 3px;
  width: 3px;
  opacity: 0.1524440903;
}

.rain-drop:nth-child(163) {
  top: 79vh;
  left: 11vw;
  height: 2px;
  width: 2px;
  opacity: 0.2878769665;
}

.rain-drop:nth-child(164) {
  top: 76vh;
  left: 8vw;
  height: 3px;
  width: 3px;
  opacity: 0.9947093302;
}

.rain-drop:nth-child(165) {
  top: 47vh;
  left: 100vw;
  height: 3px;
  width: 3px;
  opacity: 0.0708400025;
}

.rain-drop:nth-child(166) {
  top: 88vh;
  left: 69vw;
  height: 2px;
  width: 2px;
  opacity: 0.8065588559;
}

.rain-drop:nth-child(167) {
  top: 25vh;
  left: 22vw;
  height: 2px;
  width: 2px;
  opacity: 0.5971244711;
}

.rain-drop:nth-child(168) {
  top: 67vh;
  left: 6vw;
  height: 2px;
  width: 2px;
  opacity: 0.746077677;
}

.rain-drop:nth-child(169) {
  top: 70vh;
  left: 25vw;
  height: 1px;
  width: 1px;
  opacity: 0.4443035955;
}

.rain-drop:nth-child(170) {
  top: 93vh;
  left: 74vw;
  height: 1px;
  width: 1px;
  opacity: 0.6433948444;
}

.rain-drop:nth-child(171) {
  top: 42vh;
  left: 52vw;
  height: 3px;
  width: 3px;
  opacity: 0.4361122032;
}

.rain-drop:nth-child(172) {
  top: 89vh;
  left: 88vw;
  height: 2px;
  width: 2px;
  opacity: 0.4986233665;
}

.rain-drop:nth-child(173) {
  top: 85vh;
  left: 84vw;
  height: 2px;
  width: 2px;
  opacity: 0.0198505197;
}

.rain-drop:nth-child(174) {
  top: 65vh;
  left: 49vw;
  height: 3px;
  width: 3px;
  opacity: 0.1587894633;
}

.rain-drop:nth-child(175) {
  top: 19vh;
  left: 2vw;
  height: 1px;
  width: 1px;
  opacity: 0.0415344655;
}

.rain-drop:nth-child(176) {
  top: 5vh;
  left: 86vw;
  height: 3px;
  width: 3px;
  opacity: 0.7796685806;
}

.rain-drop:nth-child(177) {
  top: 92vh;
  left: 35vw;
  height: 3px;
  width: 3px;
  opacity: 0.4873008414;
}

.rain-drop:nth-child(178) {
  top: 21vh;
  left: 62vw;
  height: 2px;
  width: 2px;
  opacity: 0.0291737848;
}

.rain-drop:nth-child(179) {
  top: 33vh;
  left: 5vw;
  height: 2px;
  width: 2px;
  opacity: 0.9795688373;
}

.rain-drop:nth-child(180) {
  top: 78vh;
  left: 92vw;
  height: 1px;
  width: 1px;
  opacity: 0.8883001078;
}

.rain-drop:nth-child(181) {
  top: 38vh;
  left: 91vw;
  height: 1px;
  width: 1px;
  opacity: 0.1920475511;
}

.rain-drop:nth-child(182) {
  top: 85vh;
  left: 65vw;
  height: 3px;
  width: 3px;
  opacity: 0.5235030887;
}

.rain-drop:nth-child(183) {
  top: 7vh;
  left: 92vw;
  height: 2px;
  width: 2px;
  opacity: 0.1836356631;
}

.rain-drop:nth-child(184) {
  top: 96vh;
  left: 59vw;
  height: 3px;
  width: 3px;
  opacity: 0.1092724539;
}

.rain-drop:nth-child(185) {
  top: 38vh;
  left: 28vw;
  height: 2px;
  width: 2px;
  opacity: 0.1008700739;
}

.rain-drop:nth-child(186) {
  top: 60vh;
  left: 41vw;
  height: 1px;
  width: 1px;
  opacity: 0.470758781;
}

.rain-drop:nth-child(187) {
  top: 18vh;
  left: 92vw;
  height: 1px;
  width: 1px;
  opacity: 0.5266164231;
}

.rain-drop:nth-child(188) {
  top: 76vh;
  left: 63vw;
  height: 2px;
  width: 2px;
  opacity: 0.3250031514;
}

.rain-drop:nth-child(189) {
  top: 36vh;
  left: 25vw;
  height: 3px;
  width: 3px;
  opacity: 0.9826777757;
}

.rain-drop:nth-child(190) {
  top: 61vh;
  left: 72vw;
  height: 1px;
  width: 1px;
  opacity: 0.9104109548;
}

.rain-drop:nth-child(191) {
  top: 32vh;
  left: 63vw;
  height: 2px;
  width: 2px;
  opacity: 0.2667730689;
}

.rain-drop:nth-child(192) {
  top: 48vh;
  left: 59vw;
  height: 3px;
  width: 3px;
  opacity: 0.8669515759;
}

.rain-drop:nth-child(193) {
  top: 48vh;
  left: 62vw;
  height: 2px;
  width: 2px;
  opacity: 0.5823814795;
}

.rain-drop:nth-child(194) {
  top: 95vh;
  left: 54vw;
  height: 3px;
  width: 3px;
  opacity: 0.8913451952;
}

.rain-drop:nth-child(195) {
  top: 45vh;
  left: 24vw;
  height: 2px;
  width: 2px;
  opacity: 0.4412042775;
}

.rain-drop:nth-child(196) {
  top: 4vh;
  left: 68vw;
  height: 2px;
  width: 2px;
  opacity: 0.1185762295;
}

.rain-drop:nth-child(197) {
  top: 82vh;
  left: 31vw;
  height: 3px;
  width: 3px;
  opacity: 0.5054829083;
}

.rain-drop:nth-child(198) {
  top: 95vh;
  left: 59vw;
  height: 3px;
  width: 3px;
  opacity: 0.9959894076;
}

.rain-drop:nth-child(199) {
  top: 48vh;
  left: 62vw;
  height: 3px;
  width: 3px;
  opacity: 0.226207673;
}

.rain-drop:nth-child(200) {
  top: 32vh;
  left: 30vw;
  height: 1px;
  width: 1px;
  opacity: 0.2888653737;
}

/*# sourceMappingURL=style.css.map */
