doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../css/style.css')
		title Stars
	body
		.canvas
			- let totalStars = 200;
				while totalStars > 0
					div.star
					- totalStars--
