doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../css/style.css')
		title Greedy Aliens
	body
		.container
			.canvas
				.earth
					.pig
						.head 
						.body
						.legs
					.cow
						.head 
						.body
						.tail
						.legs
					.chicken
						.head
						.body
						.legs
					.sheep
						.body
						.head
						.legs
				.ufo
					.beam
